@page "/network/{contactId}"
@using ContactServiceApp.Contacts
@using ContactServiceApp.Identity
@using ContactServiceGrainInterfaces.Contact
@inject ContactService ContactService
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="d-flex">
    <MudLink Href="/network" Class="d-inline-block pa-4 hover:mud-primary-hover">
        <MudIcon Icon="@Icons.Material.Filled.ArrowBackIos"></MudIcon>
    </MudLink>
    <MudSpacer></MudSpacer>
    <MudLink Href="@($"network/{ContactId}/edit")" Class="pa-4"><MudButton Variant="Variant.Text">Edit</MudButton></MudLink>
</div>

<MudPaper Class="pa-4 mb-5">
    <MudText Typo="Typo.h2">@Contact?.Name</MudText>
    <div class="d-inline-flex">
        <div class="pr-6">
            <MudText Typo="Typo.body2">Primary email</MudText>
            <MudText Typo="Typo.body1">@(Contact?.PrimaryEmail?.Email ?? "-")</MudText>
        </div>
        <div class="pl-6">
            <MudText Typo="Typo.body2">Primary phone</MudText>
            <MudText Typo="Typo.body1">@(Contact?.PrimaryPhone?.PhoneNumber ?? "-")</MudText>
        </div>
    </div>
</MudPaper>
<MudPaper Class="pa-4">
    <MudText Typo="Typo.subtitle1">Contact details</MudText>
    <div class="d-flex mb-4">
        <MudIcon Icon="@Icons.Material.Filled.Email" Class="mr-4"></MudIcon>
        <div>
            @foreach (var email in Contact?.Emails ?? Array.Empty<EmailAddress>())
            {
                <MudText Typo="Typo.body1">@email.Email</MudText>
            }
        </div>
    </div>

    <div class="d-flex">
        <MudIcon Icon="@Icons.Material.Filled.Phone" Class="mr-4"></MudIcon>
        <div>
            @foreach (var phone in Contact?.Phones ?? Array.Empty<Phone>())
            {
                <MudText Typo="Typo.body1" Class="">@phone.PhoneNumber</MudText>
            }

        </div>
    </div>


</MudPaper>

@code {
    [Parameter] public string? ContactId { get; set; }

    private Contact? Contact { get; set; }

    protected override async Task OnInitializedAsync() => await LoadContact();

    private async Task LoadContact()
    {
        var user = await User();
        if (ContactId == null) throw new Exception("ContactId is required.");

        Contact = await ContactService.GetContact(user.Id, ContactId);
    }

    private async Task<ApplicationUser> User()
    {
        return (await AuthenticationStateProvider.GetAuthenticationStateAsync()).User.ToApplicationUser();
    }

}